body {
    background-color: #333 !important;
}
video {
   /* object-fit: contain !important;
    */
}
.card_div {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 10px;
}
.vedio_container_div {
    padding-top: 25px;
   /*border: 14px solid #ccc;
   */
   /*margin: 10px;
   */
   /*box-shadow: 1px 3px 5px #aaa;
   */
}
.publish_div p {
    text-align: center;
    margin-top: 20px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none !important;
}
ul.nav.nav-tabs li.active {
    border-bottom: 3px solid #0af;
}
.action_div ul {
    margin-top: 10px;
}
label.label_right {
    float: right;
    font-weight: normal !important;
}
div.message_div .row {
    padding: 10px;
}
div.message_div {
    padding-right: 20px;
}
textarea {
    resize: none;
}
#multi_video_container_div {
   /*position: absolute;
   */
   /*right: 0px;
   */
   /*overflow: auto;
   */
   /*z-index: 9002;
   */
   /*height: 400px;
   */
   /*width: 130px;
   */
    top: 0px;
}
#multi_video_container_div .live_stream_div {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 10px;
}
@keyframes textAppearence {
    0% {
        top: 8px;
   }
    25% {
        top: 6px;
   }
    50% {
        top: 4px;
   }
    75% {
        top: 2px;
   }
    100% {
        top: 0px;
   }
}
.multi_text_container_div {
    position: absolute;
    overflow: auto;
    z-index: 9002;
    margin: 5px;
    height: 400px;
    width: 130px;
    color: #fff;
    padding: 5px;
}
.show_none {
    display: none;
}
#local_video_div {
    height: 400px;
    width: 100%;
    margin: 0 auto;
}
.full_width {
    width: 100%;
}
.run-text-animation {
    animation: textAppearence 4s;
}
.fullScreen {
    position: fixed !important;
    z-index: 9009 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: -100px !important;
}
.small_loader {
    height: 120px;
    width: 120px;
}
.vcx_bar {
    cursor: pointer;
}
.name-div {
    position: absolute;
    top: 5%;
    left: 5%;
    color: #fff;
}
@media screen and (min-width: 1690px) {
    .classic_vcx_stream {
        height: 700px !important;
        width: 900px !important;
   }
}
@media screen and (max-width: 1690px) {
    .classic_vcx_stream {
        height: 450px !important;
        width: 650px !important;
   }
}
@media screen and (max-width: 1280px) {
    .classic_vcx_stream {
        height: 400px !important;
        width: 500px !important;
   }
}
@media screen and (max-width: 980px) {
    .classic_vcx_stream {
        height: 500px !important;
        width: 500px !important;
   }
}
@media screen and (max-width: 736px) {
    .classic_vcx_stream {
        height: 400px !important;
        width: 500px !important;
   }
}
@media screen and (max-width: 480px) {
    .classic_vcx_stream {
        height: 300px !important;
        width: 400px !important;
   }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
   }
}
@-o-keyframes rotate {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
   }
}
@-ms-keyframes rotate {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
   }
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
   }
}
@-moz-keyframes rotate {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
   }
}
.preloader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.8);
}
.preloader:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #20b9ae;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 425ms infinite linear;
    -o-animation: rotate 425ms infinite linear;
    -ms-animation: rotate 425ms infinite linear;
    -webkit-animation: rotate 425ms infinite linear;
    -moz-animation: rotate 425ms infinite linear;
}
canvas {
    display: none;
}
.question {
    background-color: #0c0b0e52;
    padding: 20px;
    color: white;
    border-radius: 5px;
    z-index: 10;
}
.confo-container {
    position: relative;
}
.progress-bar-wrapper {
    z-index: 9;
   /* width: 80%;
    */
   /* bottom: 0;
    */
    opacity: 0.5;
    position: absolute;
    bottom: 5%;
    width: 100%;
}
#tick_btn {
    color: green;
    width: 50px;
    height: 40px;
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 10px;
}

#restart_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 11;
    margin-bottom: 10px;
    margin-left: 10px;
}
#next_question {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 11;
    margin-bottom: 10px;
    margin-right: 10px;
}
#temp_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 8;
    color: red;
    margin-bottom: 10px;
    margin-right: 10px;
}
#close {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 11;
    margin-bottom: 9px;
    margin-right: 4px;
    font-size: smaller;
    padding-top: 13px;
    padding-bottom: 17px;
}
#website {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    z-index: 101;
}
#try_again {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    z-index: 100;
}
.custom-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 9;
}
.progress-bar-wrapper {
    position: static;
}
div#restart_btn {
    position: static;
}
div#temp_btn {
    position: static;
}
.custom-wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 9;
}
.progress-bar-wrapper-2 {
    position: static;
}
div#website {
    position: static;
}
div#try_again {
    position: static;
}
#local_video_div {
    height: 70% !important;
    width: 100% !important;
    margin-top: 70px;
    max-width: 800px;
    min-height: 400px !important;
}
#local_video_div video {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.bottom-center-text {
    bottom: 0;
    z-index: 99;
}
.custom-wrapper {
    /* height: 100%;
    top: 0;
    width: 100%;
    display: block; */
}
.video_div {
    height : 100vh !important;
    position : relative;
}
div#local_video_div {
    margin: 0 auto;
    max-width: 60%;
    position: absolute !important;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    min-height: initial !important;
    height: 65% !important;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* background: #4CAF50; */
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.login-page.joinRoom {
    width: 100%;
}

.form {
    width: 40%;
}

.icon-wrapper {
    clear: both;
    overflow: hidden;
    position: static;
    padding: 25px 0;
}

.container.icon-wrapper {
    position: absolute;
    z-index: 9;
    width: 30%;
    inline-size: 10%;
    left: 0;
    height: 30%;
    overflow: initial;
    padding-left: 20px;
}

.form {
    padding-top: 0;
    padding-bottom: 0;
}

button#joinRoom {
    margin: 30px 0px;
}

select#camera_device {
    margin-bottom: 0;
}

h2#snapshot_text {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}

.bottom-center-text button#take_snapshot,
#snapshot-container-success-text {
    font-size: 14px;
}

div#snapshot-container {
    bottom: 7%;
}

div#snapshot-container {
    bottom: 7%;
}

.question_container.bottom-center-text {
    width: 60%;
}

h3.question {
    font-size: 20px;
    line-height: normal;
    margin: 0;
    padding: 0;
}


button#close_sample {
    font-size: 15px;
    margin-top: 13px;
}

.question {
    background: transparent;
}

#snapshot-container-success-text h2 {
    font-size: 19px;
}

div#snapshot-container-success-text {
    bottom: 7%;
}

h3#timer {
    margin: 0;
    font-size: 20px;
}

.timer_container {
    padding-bottom: 10px;
}

.timer_container {
    position: relative;
    top: -70px;
}

.timer_container+#quest_container {
    position: relative;
    top: -65px;
}

.progress-bar-wrapper-2 {
position: static;
width: 82%;
padding: 0;
}

.login-form .wrap {
    display: flex;
    align-items: center;
}

.login-form .wrap span {
    padding-right: 10px;
    width: 30%;
}

@media (min-width: 1400px) {
    .progress-bar-wrapper-2 {
        width: 87%;
        }
}
